body {
    color: white;
    background-image: url('https://xbox-store-checker.com/assets/upload/game/2019/02/optimize/9wzdncrfj3tj-background.jpg');
}

.logo {
    width: 220px;
    height: 120px;
    margin-left: 100px;
    margin-top: -20px;
}

.signin {
    display: flex;
    flex-direction: column;
}